<tr>
  <td><%= index + 1 %></td>
  <td><%= item_collect.name %></td>
  <td><%= item_collect.description %></td>
  <td><%= number_to_currency(item_collect.unit_price) %></td>
  <td><%= item_collect.qty %></td>
  <td><%= number_to_currency(item_collect.total_amount) %></td>
  <td><%= number_to_currency(item_collect.total_collect) %></td>
  <td><%= i18n_model_values(:current_state, item_collect) %></td>
  <td class="text-center">
    <a href="#" class="btn btn-info btn-sm active" role="button" aria-pressed="true">
      <i class="fas fa-edit"></i>
    </a>
  </td>
</tr>
